pip install tensorboardX==1.1
pip install python-dateutil --upgrade
pip install easydict
pip install pyyaml==5.2
pip install pandas
pip install torchfile==0.11.0
pip install nltk
pip install scikit-image
pip install torch
pip install torchvision